* {
  /* border: 1px solid blue; */
  box-sizing: border-box;
}

body {
  /* Background from https://www.eggradients.com/category/metal-gradient */
  background-color: #d7d7d7;
  background-image: linear-gradient(147deg, #d7d7d7 0%, #353535 74%);
  font-family: sans-serif;
}

.logo-pokemon {
    max-height: 50px;
}

.search-logo-pokeball {
  max-height: 25px;
}

.btn-pokemon {
  border: 4px solid #2a75bb;
  background-color: #ffcb05;
  color: #2a75bb;
  border-radius: 5px;
  padding: 14px 32px;
  font-size: 16px;
  cursor: pointer;
  /* width: 300px; */
  width: 100%;
  margin: 4px 2px;
  display: block;
  margin: 4px auto;
}

.btn-pokemon:hover {
  background-color: lightgrey;
  color: white;
}

.pokemon-list {
  list-style-type: none;
  padding-left: 0;
}

.main-section-shared {
  margin: 80px 20px 20px;
  padding: 20px;
  /* background-color: lightblue; */
  /* border: 3px solid blue; */
}

.loading-message-placeholder {
  text-align: center;
}

.displayLoadingMessage {
  display: block;
  width: 300px;
}

.para-style {
  color: blue;
  /* border: 1px solid blue; */
}

.message-style--hide {
  display: none;
}

.loader{
  /* border: 1px solid red; */
  text-align: center;
  padding: 0;
  display: inline-block;
  vertical-align: text-bottom;
}

@media all and (max-width: 750px) {

  .main-section-shared {
    margin: 20px 10px;
    padding: 10px;
  }

  .pokemon-list {
    text-align: center;
  }
}

/*===============================================*/
/* MODAL STYLING (STARTS)
/*-----------------------------------------------*/

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
  border-radius: 5px;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: block;
}

.modal-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*-----------------------------------------------*/
/* MODAL STYLING (ENDS)
/*===============================================*/
